<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>album</string>
			<key>menuList</key>
			<array>
				<dict>
					<key>hScale</key>
					<real>0.486</real>
					<key>wScale</key>
					<real>0.486</real>
					<key>yScale</key>
					<real>0.3079</real>
					<key>xScale</key>
					<real>0.3414</real>
					<key>imageSourceName</key>
					<string>birthday001</string>
					<key>menuIcon</key>
					<string>birthday001</string>
				</dict>
				<dict>
					<key>hScale</key>
					<real>0.47</real>
					<key>wScale</key>
					<real>0.47</real>
					<key>yScale</key>
					<real>0.133</real>
					<key>xScale</key>
					<real>0.418</real>
					<key>imageSourceName</key>
					<string>birthday002</string>
					<key>menuIcon</key>
					<string>birthday002</string>
				</dict>
				<dict>
					<key>hScale</key>
					<real>0.4404</real>
					<key>wScale</key>
					<real>0.4404</real>
					<key>yScale</key>
					<real>0.3443</real>
					<key>xScale</key>
					<real>0.2256</real>
					<key>imageSourceName</key>
					<string>birthday003</string>
					<key>menuIcon</key>
					<string>birthday003</string>
				</dict>
				<dict>
					<key>hScale</key>
					<real>0.4994</real>
					<key>wScale</key>
					<real>0.4994</real>
					<key>yScale</key>
					<real>0.4195</real>
					<key>xScale</key>
					<real>0.2506</real>
					<key>imageSourceName</key>
					<string>birthday004</string>
					<key>menuIcon</key>
					<string>birthday004</string>
				</dict>
				<dict>
					<key>hScale</key>
					<real>0.469</real>
					<key>wScale</key>
					<real>0.469</real>
					<key>yScale</key>
					<real>0.093</real>
					<key>xScale</key>
					<real>0.2664</real>
					<key>imageSourceName</key>
					<string>birthday005</string>
					<key>menuIcon</key>
					<string>birthday005</string>
				</dict>
				<dict>
					<key>hScale</key>
					<real>0.4734</real>
					<key>wScale</key>
					<real>0.4734</real>
					<key>yScale</key>
					<real>0.2276</real>
					<key>xScale</key>
					<real>0.3084</real>
					<key>imageSourceName</key>
					<string>birthday006</string>
					<key>menuIcon</key>
					<string>birthday006</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>menuList</key>
			<array>
				<dict>
					<key>hScale</key>
					<integer>0</integer>
					<key>wScale</key>
					<integer>0</integer>
					<key>yScale</key>
					<integer>0</integer>
					<key>xScale</key>
					<integer>0</integer>
					<key>imageSourceName</key>
					<string>hello001</string>
					<key>menuIcon</key>
					<string>hello001</string>
				</dict>
				<dict>
					<key>hScale</key>
					<integer>0</integer>
					<key>wScale</key>
					<integer>0</integer>
					<key>yScale</key>
					<integer>0</integer>
					<key>xScale</key>
					<integer>0</integer>
					<key>imageSourceName</key>
					<string>hello002</string>
					<key>menuIcon</key>
					<string>hello002</string>
				</dict>
				<dict>
					<key>hScale</key>
					<integer>0</integer>
					<key>wScale</key>
					<integer>0</integer>
					<key>yScale</key>
					<integer>0</integer>
					<key>xScale</key>
					<integer>0</integer>
					<key>imageSourceName</key>
					<string>hello003</string>
					<key>menuIcon</key>
					<string>hello003</string>
				</dict>
			</array>
			<key>iconName</key>
			<string>album</string>
		</dict>
	</array>
</dict>
</plist>
