<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>SNS</string>
			<key>menuList</key>
			<array>
				<dict>
					<key>hScale</key>
					<integer>0</integer>
					<key>wScale</key>
					<integer>0</integer>
					<key>yScale</key>
					<integer>0</integer>
					<key>xScale</key>
					<integer>0</integer>
					<key>imageSourceName</key>
					<string>weixincircle</string>
					<key>menuIcon</key>
					<string>weixincircle</string>
				</dict>
				<dict>
					<key>hScale</key>
					<integer>0</integer>
					<key>wScale</key>
					<integer>0</integer>
					<key>yScale</key>
					<integer>0</integer>
					<key>xScale</key>
					<integer>0</integer>
					<key>imageSourceName</key>
					<string>qqai</string>
					<key>menuIcon</key>
					<string>qqai</string>
				</dict>
				<dict>
					<key>hScale</key>
					<integer>0</integer>
					<key>wScale</key>
					<integer>0</integer>
					<key>yScale</key>
					<integer>0</integer>
					<key>xScale</key>
					<integer>0</integer>
					<key>imageSourceName</key>
					<string>weibo</string>
					<key>menuIcon</key>
					<string>weibo</string>
				</dict>
				<dict>
					<key>hScale</key>
					<integer>0</integer>
					<key>wScale</key>
					<integer>0</integer>
					<key>yScale</key>
					<integer>0</integer>
					<key>xScale</key>
					<integer>0</integer>
					<key>imageSourceName</key>
					<string>weixin</string>
					<key>menuIcon</key>
					<string>weixin</string>
				</dict>
				<dict>
					<key>hScale</key>
					<integer>0</integer>
					<key>wScale</key>
					<integer>0</integer>
					<key>yScale</key>
					<integer>0</integer>
					<key>xScale</key>
					<integer>0</integer>
					<key>imageSourceName</key>
					<string>weixingreen</string>
					<key>menuIcon</key>
					<string>weixingreen</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>menuList</key>
			<array>
				<dict>
					<key>hScale</key>
					<integer>0</integer>
					<key>wScale</key>
					<integer>0</integer>
					<key>yScale</key>
					<integer>0</integer>
					<key>xScale</key>
					<integer>0</integer>
					<key>imageSourceName</key>
					<string>taobao</string>
					<key>menuIcon</key>
					<string>taobao</string>
				</dict>
				<dict>
					<key>hScale</key>
					<integer>0</integer>
					<key>wScale</key>
					<integer>0</integer>
					<key>yScale</key>
					<integer>0</integer>
					<key>xScale</key>
					<integer>0</integer>
					<key>imageSourceName</key>
					<string>tianmao</string>
					<key>menuIcon</key>
					<string>tianmao</string>
				</dict>
				<dict>
					<key>hScale</key>
					<integer>0</integer>
					<key>wScale</key>
					<integer>0</integer>
					<key>yScale</key>
					<integer>0</integer>
					<key>xScale</key>
					<integer>0</integer>
					<key>imageSourceName</key>
					<string>tianmaoIcon</string>
					<key>menuIcon</key>
					<string>tianmaoIcon</string>
				</dict>
				<dict>
					<key>hScale</key>
					<integer>0</integer>
					<key>wScale</key>
					<integer>0</integer>
					<key>yScale</key>
					<integer>0</integer>
					<key>xScale</key>
					<integer>0</integer>
					<key>imageSourceName</key>
					<string>jingdong</string>
					<key>menuIcon</key>
					<string>jingdong</string>
				</dict>
			</array>
			<key>iconName</key>
			<string>shop</string>
		</dict>
	</array>
</dict>
</plist>
