<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>xiaoxinItem05</string>
			<key>menulist</key>
			<array>
				<dict>
					<key>borderlist</key>
					<array>
						<dict>
							<key>boardername</key>
							<string>mouse_Boarder</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>mouse_Boarder</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>mouse_Boarder</string>
						</dict>
					</array>
					<key>bgr</key>
					<integer>255</integer>
					<key>bga</key>
					<integer>1</integer>
					<key>bgg</key>
					<integer>255</integer>
					<key>bgb</key>
					<integer>255</integer>
					<key>isChangeBlack</key>
					<false/>
					<key>iconName</key>
					<string>mouse-icon</string>
					<key>menuList</key>
					<array>
						<dict>
							<key>probability</key>
							<real>0.06</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>mouse_item01</string>
						</dict>
						<dict>
							<key>probability</key>
							<integer>1</integer>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>mouse_item02</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.06</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>mouse_item03</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.2</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>4</integer>
							<key>imageSourceName</key>
							<string>mouse_item04</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.2</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>3</integer>
							<key>imageSourceName</key>
							<string>mouse_item05</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>borderlist</key>
					<array>
						<dict>
							<key>boardername</key>
							<string>colorBoarderItem01</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>colorBoarderItem02</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>colorBoarderItem03</string>
						</dict>
					</array>
					<key>bgb</key>
					<integer>255</integer>
					<key>bga</key>
					<integer>1</integer>
					<key>bgg</key>
					<integer>255</integer>
					<key>bgr</key>
					<integer>255</integer>
					<key>isChangeBlack</key>
					<false/>
					<key>iconName</key>
					<string>colordiy_icon</string>
					<key>menuList</key>
					<array>
						<dict>
							<key>probability</key>
							<real>0.03</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>colorItem01</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.1</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>colorItem02</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.2</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>colorItem03</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.02</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>colorItem04</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.05</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>colorItem05</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>bgr</key>
					<integer>255</integer>
					<key>bga</key>
					<integer>1</integer>
					<key>bgg</key>
					<integer>255</integer>
					<key>bgb</key>
					<integer>255</integer>
					<key>isChangeBlack</key>
					<false/>
					<key>iconName</key>
					<string>cookie_icon</string>
					<key>borderlist</key>
					<array>
						<dict>
							<key>boardername</key>
							<string>cookie_boarder</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>cookie_boarder</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>cookie_boarder</string>
						</dict>
					</array>
					<key>menuList</key>
					<array>
						<dict>
							<key>probability</key>
							<real>0.2</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>cookie_item01</string>
						</dict>
						<dict>
							<key>probability</key>
							<integer>1</integer>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>cookie_item02</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.06</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>cookie_item03</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.06</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>cookie_item04</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.2</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>cookie_item05</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>menuList</key>
					<array>
						<dict>
							<key>probability</key>
							<real>0.06</real>
							<key>sizey</key>
							<integer>3</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>intelitem07</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.04</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>intelItem01</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.03</real>
							<key>sizey</key>
							<integer>3</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>intelitem02</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.03</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>3</integer>
							<key>imageSourceName</key>
							<string>intelitem10</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.02</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>intelItem05</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.02</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>intelItem06</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.03</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>intelitem09</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.03</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>intelItem03</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.03</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>intelItem04</string>
						</dict>
						<dict>
							<key>probability</key>
							<integer>1</integer>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string> intelitem08</string>
						</dict>
					</array>
					<key>borderlist</key>
					<array>
						<dict>
							<key>boardername</key>
							<string>intelborder</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>intelborder</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>intelborder</string>
						</dict>
					</array>
					<key>bgb</key>
					<integer>255</integer>
					<key>bga</key>
					<integer>1</integer>
					<key>bgg</key>
					<integer>255</integer>
					<key>bgr</key>
					<integer>255</integer>
					<key>isChangeBlack</key>
					<false/>
					<key>iconName</key>
					<string>intel_icon</string>
				</dict>
				<dict>
					<key>menuList</key>
					<array>
						<dict>
							<key>probability</key>
							<real>0.06</real>
							<key>sizey</key>
							<integer>3</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>xiaoxinitem04</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.1</real>
							<key>sizey</key>
							<integer>3</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>xiaoxinItem02</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.04</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>3</integer>
							<key>imageSourceName</key>
							<string>xiaoxinitem06</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.04</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>xiaoxinItem01</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.05</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>xiaoxinItem05</string>
						</dict>
						<dict>
							<key>probability</key>
							<integer>1</integer>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>xiaoxinItem03</string>
						</dict>
					</array>
					<key>borderlist</key>
					<array>
						<dict>
							<key>boardername</key>
							<string>xiaoxin_border01</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>xiaoxin_border02</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>xiaoxin_border03</string>
						</dict>
					</array>
					<key>bgb</key>
					<integer>255</integer>
					<key>bga</key>
					<integer>1</integer>
					<key>bgg</key>
					<integer>255</integer>
					<key>bgr</key>
					<integer>255</integer>
					<key>isChangeBlack</key>
					<false/>
					<key>iconName</key>
					<string>xiaoxin_icon</string>
				</dict>
				<dict>
					<key>menuList</key>
					<array>
						<dict>
							<key>probability</key>
							<real>0.1</real>
							<key>sizey</key>
							<integer>4</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>huanrenitem03</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.04</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>3</integer>
							<key>imageSourceName</key>
							<string>huanrenitem04</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.01</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>huanrenitem01</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.03</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>huanrenitem09</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.03</real>
							<key>sizey</key>
							<integer>3</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>huanren_item02</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.02</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>huanrenitem05</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.03</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>huanreitem06</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.03</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>huanrenitem07</string>
						</dict>
						<dict>
							<key>probability</key>
							<integer>1</integer>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>huanrenitem08</string>
						</dict>
					</array>
					<key>borderlist</key>
					<array>
						<dict>
							<key>boardername</key>
							<string>huanren_border01</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>huanren_border02</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>huanren_border02</string>
						</dict>
					</array>
					<key>bgb</key>
					<integer>255</integer>
					<key>bga</key>
					<integer>1</integer>
					<key>bgg</key>
					<integer>255</integer>
					<key>bgr</key>
					<integer>255</integer>
					<key>isChangeBlack</key>
					<false/>
					<key>iconName</key>
					<string>huangren_icon</string>
				</dict>
				<dict>
					<key>menuList</key>
					<array>
						<dict>
							<key>probability</key>
							<real>0.03</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>sea_item07</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.05</real>
							<key>sizey</key>
							<integer>4</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>sea_item08</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.2</real>
							<key>sizey</key>
							<integer>3</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>sea_item03</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.02</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>sea_item06</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.05</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>sea_item02</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.02</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>sea_item04</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.05</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>sea_item05</string>
						</dict>
						<dict>
							<key>probability</key>
							<integer>1</integer>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>sea_item01</string>
						</dict>
					</array>
					<key>borderlist</key>
					<array>
						<dict>
							<key>boardername</key>
							<string>sea_border01</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>sea_border02</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>sea_border03</string>
						</dict>
					</array>
					<key>bgb</key>
					<integer>255</integer>
					<key>bga</key>
					<integer>1</integer>
					<key>bgg</key>
					<integer>255</integer>
					<key>bgr</key>
					<integer>255</integer>
					<key>isChangeBlack</key>
					<false/>
					<key>iconName</key>
					<string>see_icon</string>
				</dict>
				<dict>
					<key>bgImageName</key>
					<string>starBg</string>
					<key>menuList</key>
					<array>
						<dict>
							<key>probability</key>
							<real>0.03</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>3</integer>
							<key>imageSourceName</key>
							<string>starItem005</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.05</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>starItem004</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.1</real>
							<key>sizey</key>
							<integer>3</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>starItem003</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>3</integer>
							<key>imageSourceName</key>
							<string>staritem001</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.1</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>starItem006</string>
						</dict>
						<dict>
							<key>probability</key>
							<integer>1</integer>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>starItem002</string>
						</dict>
					</array>
					<key>borderlist</key>
					<array>
						<dict>
							<key>boardername</key>
							<string>starborder</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>starborder</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>starborder</string>
						</dict>
					</array>
					<key>bgb</key>
					<integer>255</integer>
					<key>bga</key>
					<integer>1</integer>
					<key>bgg</key>
					<integer>255</integer>
					<key>bgr</key>
					<integer>255</integer>
					<key>isChangeBlack</key>
					<true/>
					<key>iconName</key>
					<string>see_icon</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>iconName</key>
			<string>ch08item04</string>
			<key>menulist</key>
			<array>
				<dict>
					<key>bigBorderInfo</key>
					<dict>
						<key>hScale</key>
						<real>0.7269</real>
						<key>wScale</key>
						<real>0.7269</real>
						<key>yScale</key>
						<real>0</real>
						<key>xScale</key>
						<real>0.2731</real>
						<key>imageSourceName</key>
						<string>ChrisBoarder</string>
					</dict>
					<key>borderlist</key>
					<array>
						<dict>
							<key>boardername</key>
							<string>chborder</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>chborder</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>chborder</string>
						</dict>
					</array>
					<key>bgr</key>
					<integer>255</integer>
					<key>bga</key>
					<integer>1</integer>
					<key>bgg</key>
					<integer>255</integer>
					<key>bgb</key>
					<integer>255</integer>
					<key>isChangeBlack</key>
					<false/>
					<key>iconName</key>
					<string>chrisicon_400</string>
					<key>menuList</key>
					<array>
						<dict>
							<key>probability</key>
							<real>0.06</real>
							<key>sizey</key>
							<integer>3</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>chitem007</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.2</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>3</integer>
							<key>imageSourceName</key>
							<string>chitem008</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.06</real>
							<key>sizey</key>
							<integer>4</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>chitem006</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.2</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>chitem004</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.2</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>3</integer>
							<key>imageSourceName</key>
							<string>chitem003</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.2</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>chitem001</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.4</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>chitem005</string>
						</dict>
						<dict>
							<key>probability</key>
							<integer>1</integer>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>chitem002</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>bigBorderInfo</key>
					<dict>
						<key>hScale</key>
						<real>0.37</real>
						<key>wScale</key>
						<real>0.37</real>
						<key>yScale</key>
						<real>0.43</real>
						<key>xScale</key>
						<real>0.32</real>
						<key>imageSourceName</key>
						<string>ch01_bigborder</string>
					</dict>
					<key>borderlist</key>
					<array>
						<dict>
							<key>boardername</key>
							<string>ch01_chitemBorder</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>ch01_chitemBorder</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>ch01_chitemBorder</string>
						</dict>
					</array>
					<key>bgr</key>
					<integer>255</integer>
					<key>bga</key>
					<integer>1</integer>
					<key>bgg</key>
					<integer>255</integer>
					<key>bgb</key>
					<integer>255</integer>
					<key>isChangeBlack</key>
					<false/>
					<key>iconName</key>
					<string>ch01icon</string>
					<key>menuList</key>
					<array>
						<dict>
							<key>probability</key>
							<real>0.06</real>
							<key>sizey</key>
							<integer>3</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>ch01_item007</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.2</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>6</integer>
							<key>imageSourceName</key>
							<string>ch01_item008</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.01</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>ch01_item006</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.01</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>ch01_item005</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.01</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>ch01_item013</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.04</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>ch01_item004</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.06</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>ch01_item003</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.12</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>ch01_item002</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.03</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>ch01_item001</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.03</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>ch01_item011</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.03</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>ch01_item0010</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.03</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>ch01_item009</string>
						</dict>
						<dict>
							<key>probability</key>
							<integer>1</integer>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>ch01_item012</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>bigBorderInfo</key>
					<dict>
						<key>hScale</key>
						<real>0.53</real>
						<key>wScale</key>
						<real>0.53</real>
						<key>yScale</key>
						<real>0.18</real>
						<key>xScale</key>
						<real>0.25</real>
						<key>imageSourceName</key>
						<string>ch08BigBorder</string>
					</dict>
					<key>borderlist</key>
					<array>
						<dict>
							<key>boardername</key>
							<string>ch08Border</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>ch08Border</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>ch08Border</string>
						</dict>
					</array>
					<key>bgr</key>
					<integer>255</integer>
					<key>bga</key>
					<integer>1</integer>
					<key>bgg</key>
					<integer>255</integer>
					<key>bgb</key>
					<integer>255</integer>
					<key>isChangeBlack</key>
					<false/>
					<key>iconName</key>
					<string>ch08Icon</string>
					<key>menuList</key>
					<array>
						<dict>
							<key>probability</key>
							<real>0.02</real>
							<key>sizey</key>
							<integer>3</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>ch08item04</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.03</real>
							<key>sizey</key>
							<integer>3</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>chitem05</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.05</real>
							<key>sizey</key>
							<integer>3</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>ch08Item03</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.1</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>ch08Item06</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.1</real>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>ch08Item02</string>
						</dict>
						<dict>
							<key>probability</key>
							<integer>1</integer>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>ch08Item001</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>bigBorderInfo</key>
					<dict>
						<key>hScale</key>
						<real>0.388</real>
						<key>wScale</key>
						<real>0.388</real>
						<key>yScale</key>
						<real>0.307</real>
						<key>xScale</key>
						<real>0.307</real>
						<key>imageSourceName</key>
						<string>ch004BigBorder</string>
					</dict>
					<key>borderlist</key>
					<array>
						<dict>
							<key>boardername</key>
							<string>ch004border</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>ch004border</string>
						</dict>
						<dict>
							<key>boardername</key>
							<string>ch004border</string>
						</dict>
					</array>
					<key>bgr</key>
					<integer>255</integer>
					<key>bga</key>
					<integer>0</integer>
					<key>bgg</key>
					<integer>255</integer>
					<key>bgb</key>
					<integer>255</integer>
					<key>isChangeBlack</key>
					<false/>
					<key>iconName</key>
					<string>ch08Icon</string>
					<key>menuList</key>
					<array>
						<dict>
							<key>probability</key>
							<real>0.2</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>3</integer>
							<key>imageSourceName</key>
							<string>ch004item02</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.2</real>
							<key>sizey</key>
							<integer>2</integer>
							<key>sizex</key>
							<integer>2</integer>
							<key>imageSourceName</key>
							<string>ch004Item04</string>
						</dict>
						<dict>
							<key>probability</key>
							<real>0.2</real>
							<key>sizey</key>
							<integer>3</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>ch004Item03</string>
						</dict>
						<dict>
							<key>probability</key>
							<integer>1</integer>
							<key>sizey</key>
							<integer>1</integer>
							<key>sizex</key>
							<integer>1</integer>
							<key>imageSourceName</key>
							<string>ch004Item01</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
