<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>menuList</key>
			<array>
				<dict>
					<key>probability</key>
					<real>0.03</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>sea_item07</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.05</real>
					<key>sizey</key>
					<integer>4</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>sea_item08</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.2</real>
					<key>sizey</key>
					<integer>3</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>sea_item03</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.02</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>sea_item06</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.05</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>sea_item02</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.02</real>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>sea_item04</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.05</real>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>sea_item05</string>
				</dict>
				<dict>
					<key>probability</key>
					<integer>1</integer>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>sea_item01</string>
				</dict>
			</array>
			<key>borderlist</key>
			<array>
				<dict>
					<key>boardername</key>
					<string>sea_border01</string>
				</dict>
				<dict>
					<key>boardername</key>
					<string>sea_border02</string>
				</dict>
				<dict>
					<key>boardername</key>
					<string>sea_border03</string>
				</dict>
			</array>
			<key>bgb</key>
			<integer>255</integer>
			<key>bga</key>
			<integer>1</integer>
			<key>bgg</key>
			<integer>255</integer>
			<key>bgr</key>
			<integer>255</integer>
			<key>isChangeBlack</key>
			<false/>
			<key>iconName</key>
			<string>see_icon</string>
		</dict>
		<dict>
			<key>menuList</key>
			<array>
				<dict>
					<key>probability</key>
					<real>0.1</real>
					<key>sizey</key>
					<integer>4</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>huanrenitem03</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.04</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>3</integer>
					<key>imageSourceName</key>
					<string>huanrenitem04</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.01</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>huanrenitem01</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.03</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>huanrenitem09</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.03</real>
					<key>sizey</key>
					<integer>3</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>huanren_item02</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.02</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>huanrenitem05</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.03</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>huanreitem06</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.03</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>huanrenitem07</string>
				</dict>
				<dict>
					<key>probability</key>
					<integer>1</integer>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>huanrenitem08</string>
				</dict>
			</array>
			<key>borderlist</key>
			<array>
				<dict>
					<key>boardername</key>
					<string>huanren_border01</string>
				</dict>
				<dict>
					<key>boardername</key>
					<string>huanren_border02</string>
				</dict>
				<dict>
					<key>boardername</key>
					<string>huanren_border02</string>
				</dict>
			</array>
			<key>bgb</key>
			<integer>255</integer>
			<key>bga</key>
			<integer>1</integer>
			<key>bgg</key>
			<integer>255</integer>
			<key>bgr</key>
			<integer>255</integer>
			<key>isChangeBlack</key>
			<false/>
			<key>iconName</key>
			<string>huangren_icon</string>
		</dict>
		<dict>
			<key>menuList</key>
			<array>
				<dict>
					<key>probability</key>
					<real>0.06</real>
					<key>sizey</key>
					<integer>3</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>xiaoxinitem04</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.1</real>
					<key>sizey</key>
					<integer>3</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>xiaoxinItem02</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.04</real>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>3</integer>
					<key>imageSourceName</key>
					<string>xiaoxinitem06</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.04</real>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>xiaoxinItem01</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.05</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>xiaoxinItem05</string>
				</dict>
				<dict>
					<key>probability</key>
					<integer>1</integer>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>xiaoxinItem03</string>
				</dict>
			</array>
			<key>borderlist</key>
			<array>
				<dict>
					<key>boardername</key>
					<string>xiaoxin_border01</string>
				</dict>
				<dict>
					<key>boardername</key>
					<string>xiaoxin_border02</string>
				</dict>
				<dict>
					<key>boardername</key>
					<string>xiaoxin_border03</string>
				</dict>
			</array>
			<key>bgb</key>
			<integer>255</integer>
			<key>bga</key>
			<integer>1</integer>
			<key>bgg</key>
			<integer>255</integer>
			<key>bgr</key>
			<integer>255</integer>
			<key>isChangeBlack</key>
			<false/>
			<key>iconName</key>
			<string>xiaoxin_icon</string>
		</dict>
		<dict>
			<key>menuList</key>
			<array>
				<dict>
					<key>probability</key>
					<real>0.06</real>
					<key>sizey</key>
					<integer>3</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>intelitem07</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.04</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>intelItem01</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.03</real>
					<key>sizey</key>
					<integer>3</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>intelitem02</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.03</real>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>3</integer>
					<key>imageSourceName</key>
					<string>intelitem10</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.02</real>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>intelItem05</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.02</real>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>intelItem06</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.03</real>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>intelitem09</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.03</real>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>intelItem03</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.03</real>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>intelItem04</string>
				</dict>
				<dict>
					<key>probability</key>
					<integer>1</integer>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string> intelitem08</string>
				</dict>
			</array>
			<key>borderlist</key>
			<array>
				<dict>
					<key>boardername</key>
					<string>intelborder</string>
				</dict>
				<dict>
					<key>boardername</key>
					<string>intelborder</string>
				</dict>
				<dict>
					<key>boardername</key>
					<string>intelborder</string>
				</dict>
			</array>
			<key>bgb</key>
			<integer>255</integer>
			<key>bga</key>
			<integer>1</integer>
			<key>bgg</key>
			<integer>255</integer>
			<key>bgr</key>
			<integer>255</integer>
			<key>isChangeBlack</key>
			<false/>
			<key>iconName</key>
			<string>intel_icon</string>
		</dict>
		<dict>
			<key>bgr</key>
			<integer>255</integer>
			<key>bga</key>
			<integer>1</integer>
			<key>bgg</key>
			<integer>255</integer>
			<key>bgb</key>
			<integer>255</integer>
			<key>isChangeBlack</key>
			<false/>
			<key>iconName</key>
			<string>cookie_icon</string>
			<key>borderlist</key>
			<array>
				<dict>
					<key>boardername</key>
					<string>cookie_boarder</string>
				</dict>
				<dict>
					<key>boardername</key>
					<string>cookie_boarder</string>
				</dict>
				<dict>
					<key>boardername</key>
					<string>cookie_boarder</string>
				</dict>
			</array>
			<key>menuList</key>
			<array>
				<dict>
					<key>probability</key>
					<real>0.2</real>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>cookie_item01</string>
				</dict>
				<dict>
					<key>probability</key>
					<integer>1</integer>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>cookie_item02</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.06</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>cookie_item03</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.06</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>cookie_item04</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.2</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>cookie_item05</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>borderlist</key>
			<array>
				<dict>
					<key>boardername</key>
					<string>colorBoarderItem01</string>
				</dict>
				<dict>
					<key>boardername</key>
					<string>colorBoarderItem02</string>
				</dict>
				<dict>
					<key>boardername</key>
					<string>colorBoarderItem03</string>
				</dict>
			</array>
			<key>bgb</key>
			<integer>255</integer>
			<key>bga</key>
			<integer>1</integer>
			<key>bgg</key>
			<integer>255</integer>
			<key>bgr</key>
			<integer>255</integer>
			<key>isChangeBlack</key>
			<false/>
			<key>iconName</key>
			<string>colordiy_icon</string>
			<key>menuList</key>
			<array>
				<dict>
					<key>probability</key>
					<real>0.03</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>colorItem01</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.1</real>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>colorItem02</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.2</real>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>colorItem03</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.02</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>colorItem04</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.05</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>colorItem05</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>borderlist</key>
			<array>
				<dict>
					<key>boardername</key>
					<string>mouse_Boarder</string>
				</dict>
				<dict>
					<key>boardername</key>
					<string>mouse_Boarder</string>
				</dict>
				<dict>
					<key>boardername</key>
					<string>mouse_Boarder</string>
				</dict>
			</array>
			<key>bgr</key>
			<integer>255</integer>
			<key>bga</key>
			<integer>1</integer>
			<key>bgg</key>
			<integer>255</integer>
			<key>bgb</key>
			<integer>255</integer>
			<key>isChangeBlack</key>
			<false/>
			<key>iconName</key>
			<string>mouse-icon</string>
			<key>menuList</key>
			<array>
				<dict>
					<key>probability</key>
					<real>0.06</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>mouse_item01</string>
				</dict>
				<dict>
					<key>probability</key>
					<integer>1</integer>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>mouse_item02</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.06</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>mouse_item03</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.2</real>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>4</integer>
					<key>imageSourceName</key>
					<string>mouse_item04</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.2</real>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>3</integer>
					<key>imageSourceName</key>
					<string>mouse_item05</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>borderlist</key>
			<array>
				<dict>
					<key>boardername</key>
					<string>cron_boarder</string>
				</dict>
				<dict>
					<key>boardername</key>
					<string>cron_boarder</string>
				</dict>
				<dict>
					<key>boardername</key>
					<string>cron_boarder</string>
				</dict>
			</array>
			<key>bgb</key>
			<integer>0</integer>
			<key>bga</key>
			<integer>1</integer>
			<key>bgg</key>
			<integer>0</integer>
			<key>bgr</key>
			<integer>0</integer>
			<key>isChangeBlack</key>
			<true/>
			<key>iconName</key>
			<string>corn_icon</string>
			<key>menuList</key>
			<array>
				<dict>
					<key>probability</key>
					<integer>1</integer>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>cron_item01</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
