<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>boardername</key>
			<string>cookie_boarder</string>
			<key>iconName</key>
			<string>cookie_icon</string>
			<key>menuList</key>
			<array>
				<dict>
					<key>probability</key>
					<real>0.2</real>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>cookie_item01</string>
				</dict>
				<dict>
					<key>probability</key>
					<integer>1</integer>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>cookie_item02</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.06</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>cookie_item03</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.06</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>cookie_item04</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.2</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>cookie_item05</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>boardername</key>
			<string>mouse_Boarder</string>
			<key>iconName</key>
			<string>mouse-icon</string>
			<key>menuList</key>
			<array>
				<dict>
					<key>probability</key>
					<real>0.06</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>mouse_item01</string>
				</dict>
				<dict>
					<key>probability</key>
					<integer>1</integer>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>1</integer>
					<key>imageSourceName</key>
					<string>mouse_item02</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.06</real>
					<key>sizey</key>
					<integer>2</integer>
					<key>sizex</key>
					<integer>2</integer>
					<key>imageSourceName</key>
					<string>mouse_item03</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.2</real>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>4</integer>
					<key>imageSourceName</key>
					<string>mouse_item04</string>
				</dict>
				<dict>
					<key>probability</key>
					<real>0.2</real>
					<key>sizey</key>
					<integer>1</integer>
					<key>sizex</key>
					<integer>3</integer>
					<key>imageSourceName</key>
					<string>mouse_item05</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
